<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="RetryFailedTestSuite" verbose="1">

	<listeners>
		<listener class-name="Analyzer.MyTransformer" />
	</listeners>
	
	<test name="RetryMultipleFailedTestCases">
	
		<classes>
		<class name="myTests.MyTests" />
		</classes>
	
	</test>
</suite>